Rules
1. The game will have 2 players.
2. Time span: 120 seconds
3. Attack the opposing team before the time runs out to win the game.
4. The user is allowed to attack only if 2 questions are answered correctly.
5. There are balloons involved - which changes the color after a question is answered.
6. If the user touches the sea, the user loses.
