$cl_blue: #2185c5;

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #eee;
  padding-bottom: 50px;
}

.fixed-side {
  bottom: 0 !important;
}

.main {
  app-header {
    #toggle {
      color: black;
    }
    &[shadow] {
      #toggle {
        color: white;
      }
    }
    app-toolbar {
      h1 {
        color: black;
      }
      paper-button {
        font-size: 14px;
        padding-right: 15px;
        paper-icon-button {
          width: 25px;
          height: 25px;
          padding: 5px;
        }
      }
    }
  }
  app-drawer-layout {
    position: relative;

  }
  .app-drawer-layout {
    z-index: 1;
  }
  app-drawer {
    position: static;
    height: 100%;
    top: 0;
    bottom: auto;
    .app-drawer {
      min-height: calc(100vh - 242px);
      padding: 0 !important;
    }
  }
  .item-list {
    paper-card {
      margin: 20px 0;
      height: 300px;
      width: 100%;
      .card-content {
        overflow: hidden;
      }
      .header {
        height: 200px;
      }
      .title {
        h4 {
          width: calc(100% - 40px);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .price {
        position: absolute;
        top: 30px;
        right: 20px;
      }
      &.small {
        iron-image {
          padding: 0 20px;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  padding: 10px;
}

.iron-selected {
  color: green;
}

#loginModal, #createUserModal, #signUpModal {
  width: 400px;
  left: calc(50% - 200px);
  .close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.users-list {
  paper-card {
    margin-bottom: 20px;
    background: #00bcd4;
    width: 100%;
    ul {
      height: 160px;
      overflow-y: auto;
    }
  }
}

paper-card {
  overflow: hidden;
  .tool-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    paper-dropdown-menu {
      margin-top: -10px;
    }
  }
}

paper-button {
  &.blue {
    background: rgb(16, 108, 200);
    color: white;
  }
  &.green {
    background: yellowgreen;
    color: black;
  }
  paper-spinner {
    margin-right: 10px;
  }
}

/*product-wrapper*/
.product-wrapper {
  img {
    height: 300px;
  }
}

.tournament-wrapper {
  padding: 20px;
  padding-top: 0;
  background: white;
  margin: 10px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  .status {
    color: green;
  }
}

.tournament-group {
  width: 700px;
  margin: auto;
  input{
    &::-webkit-input-placeholder{
      color: yellow;
    }
    text-transform: lowercase;
  }
  ul {
    list-style: none;
    padding-left: 20px;
    .item {
      position: relative;
      .image {
        position: absolute;
        top: -50px;
        > img {
          display: inline-block;
          height: 40px;
          &:nth-child(1) {
            position: absolute;
            left: 10px;
            top: -25px;
          }
          &:nth-child(2) {
            position: absolute;
            left: 40px;
          }
          &:nth-child(3) {
            position: absolute;
            top: -25px;
            left: 84px;
          }
        }
      }
      .next{
        position: absolute;
        font-size: 30px;
        left: 157px;
        top: -4px;
        a{
          color: red;
        }
      }
      .text {
        position: absolute;
        font-size: 20px;
        width: 150px;
        left: 0;
        bottom: -29px;
        text-align: center;
      }
      .name {
        display: inline-block;
        padding: 5px 10px;
        margin: 2px 0;
        background: $cl_blue;
        color: white;
        border-radius: 5px;
        width: 150px;
        height: 30px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      input.name{
        margin-bottom: 8px;
        border: 2px solid black;
      }
      &:before {
        content: "";
        width: 50px;
        border-top: 3px solid $cl_blue;
        position: absolute;
        left: 150px;
        top: 15px;
      }
      &.lv-2 {
        margin-left: 250px;
        .text {
          bottom: -70px;
        }
        &:after {
          content: "";
          width: 50px;
          border-top: 3px solid $cl_blue;
          position: absolute;
          left: -50px;
          top: 15px;
        }
        .bar {
          position: absolute;
          border-left: 3px solid $cl_blue;
          height: 207%;
          top: -62%;
          left: -50px;
        }
      }
      &.lv-3 {
        margin-left: 500px;
        &:before {
          right: auto;
          left: -50px;
        }
        .bar {
          position: absolute;
          border-left: 3px solid $cl_blue;
          height: 406%;
          top: -162%;
          left: -50px;
        }
      }
    }
  }
}

.cl-green {
  color: green;
}

//
//#Affix1 {
//  overflow: initial !important;
//  z-index: 1;
//  width: 100% !important;
//}